<form method="post" action="{% url 'aula_profesores_delete' detalle.id %}" class="js-aula-profesores-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirmar Eliminar Profesor de Aula</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Esta seguro de eliminar al profesor <strong>{{ detalle.profesor}}</strong> del aula  <strong> {{ detalle.aula.grado}} {{ detalle.aula.nivel}}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-danger">Eliminar Aula</button>
  </div>
</form>