{% extends 'base.html' %}
{% load static from staticfiles %}
{% block titulo %}{% endblock%}
{% block header %}
{% endblock%}

{% block contenido %}

{% if user.is_authenticated %}

<div class="wrapper">
  {% block menu %}
  <div class="sidebar" data-color="blue" >
        <!--
        data-image="{% static 'img/sidebar-5.jpg' %}"

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

        -->
        <div class="sidebar-wrapper">
          <div class="logo">
            <a href="/" class="simple-text">
                banner
            </a>
          </div>

          <div class="user">
                <div class="photo">
                  <img src="/media/{{colegio.foto}}">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed" aria-expanded="true">
                       {{administrador.colegio_defecto}}
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="collapseExample" aria-expanded="true">
                        <ul class="nav-banners">
                            {% for item in colegios %}
                              <li><a href="{{item.colegio.id}}">{{item.colegio.nombre}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

          <ul class="nav">
            <li class="{{pizarra_active}}">
                <a href="/">
                    <i class="pe-7s-graph"></i>
                    <p>Pizarra</p>
                </a>
            </li>
            <li class="{{curso_active}}">
                <a href="{% url 'curso_list' %}">
                    <i class="pe-7s-notebook"></i>
                    <p>Cursos</p>
                </a>
            </li>
            <li class="{{aula_active}}">
                <a href="{% url 'aula_list'  %}">
                    <i class="pe-7s-display1"></i>
                    <p>Aulas</p>
                </a>
            </li>
            <li class="{{profesor_active}}">
                <a href="{% url 'profesor_list'  %}">
                    <i class="pe-7s-portfolio"></i>
                    <p>Profesores</p>
                </a>
            </li>
            <li class="{{estudiante_active}}">
                <a href="{% url 'estudiante_list'  %}">
                    <i class="pe-7s-study"></i>
                    <p>Estudiantes</p>
                </a>
            </li>
            <li class="{{apoderado_active}}">
                <a href="{% url 'apoderado_list'  %}">
                    <i class="pe-7s-user"></i>
                    <p>Apoderados</p>
                </a>
            </li>
          </ul>
        </div>
  </div>
  {% endblock%}
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{page_name}}</a>
      </div>

      <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
              <li>
                 <a href="/">
                    <i class="pe-7s-home"></i> Inicio
                  </a>
              </li>
              <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-globe"></i>
                          <b class="caret"></b>
                          <span class="notification">5</span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Notification 1</a></li>
                      <li><a href="#">Notification 2</a></li>
                      <li><a href="#">Notification 3</a></li>
                      <li><a href="#">Notification 4</a></li>
                      <li><a href="#">Another notification</a></li>
                    </ul>
              </li>-->
              <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          {{user.first_name}}
                          <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Perfil</a></li>
                      <li class="divider"></li>

                      <li><a class="text-danger" href="{% url 'salir' %}"><i class="pe-7s-close-circle"></i> Salir</a></li>
                    </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
        {% block contenidoIndex %} 
          <div class="row text-center">
            <div class="col-lg-3 col-sm-6 col-xs-6">
              <div class="card-pizarra">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="icon-big icon-warning text-center">
                                <i class="icon-pizarra pe-7s-display1"></i>
                            </div>
                        </div>
                        <div class="col-xs-7 hidden-xs">
                            <div class="numbers">
                                <p>Aulas</p>
                                {{aulas_size}}
                            </div>
                        </div>
                        <div class="col-xs-12 visible-xs">
                            <div class="numbers">
                                <p class="text-center">{{aulas_size}} Aulas</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                  <hr>
                  <div class="stats">
                    <i class="fa fa-history"></i> Actualizado
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
              <div class="card-pizarra">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="icon-big icon-warning text-center">
                                <i class="icon-pizarra pe-7s-portfolio"></i>
                            </div>
                        </div>
                        <div class="col-xs-7 hidden-xs">
                            <div class="numbers">
                                <p>Profesores</p>
                                {{profesores_size}}
                            </div>
                        </div>
                        <div class="col-xs-12 visible-xs">
                            <div class="numbers">
                                <p class="text-center">{{profesores_size}} Profesores</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                  <hr>
                  <div class="stats">
                    <i class="fa fa-history"></i> Actualizado
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
              <div class="card-pizarra">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="icon-big icon-warning text-center">
                                <i class="icon-pizarra pe-7s-study"></i>
                            </div>
                        </div>
                        <div class="col-xs-7 hidden-xs">
                            <div class="numbers">
                                <p>Estudiantes</p>
                                {{estudiantes_size}}
                            </div>
                        </div>
                        <div class="col-xs-12 visible-xs">
                            <div class="numbers">
                                <p class="text-center">{{estudiantes_size}} Estudiantes</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                  <hr>
                  <div class="stats">
                    <i class="fa fa-history"></i> Actualizado
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-6">
              <div class="card-pizarra">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="icon-big icon-warning text-center">
                                <i class="icon-pizarra pe-7s-user"></i>
                            </div>
                        </div>
                        <div class="col-xs-7 hidden-xs">
                            <div class="numbers">
                                <p>Apoderados</p>
                                {{apoderados_size}}
                            </div>
                        </div>
                        <div class="col-xs-12 visible-xs">
                            <div class="numbers">
                                <p class="text-center">{{apoderados_size}} Apoderados</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                  <hr>
                  <div class="stats">
                    <i class="fa fa-history"></i> Actualizado
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!--<div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Aulas</h4>
                        <p class="category">Número Total de Aulas</p>
                    </div>
                    <div class="content">
                        <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> Open
                                <i class="fa fa-circle text-danger"></i> Bounce
                                <i class="fa fa-circle text-warning"></i> Unsubscribe
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Estudiantes por Aula</h4>
                        <!--<p class="category">24 Hours performance</p>-->
                    </div>
                    <div class="content">
                        <div id="chartPreferences" class="ct-chart-aulas-estudiantes"></div>
                        <div class="footer">
                            <!--<div class="legend">
                                <i class="fa fa-circle text-info"></i> Open
                                <i class="fa fa-circle text-danger"></i> Click
                                <i class="fa fa-circle text-warning"></i> Click Second Time
                            </div-->
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Tabla Actualizada
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock%}
      </div>
    </div>
    <!--
    <footer class="footer">
      <div class="container-fluid">
      <nav class="pull-left">
          <ul>
              <li>
                  <a href="#">
                      Home
                  </a>
              </li>
              <li>
                  <a href="#">
                      Company
                  </a>
              </li>
              <li>
                  <a href="#">
                      Portfolio
                  </a>
              </li>
              <li>
                  <a href="#">
                     Blog
                  </a>
              </li>
          </ul>
      </nav>
      <p class="copyright pull-right">
          &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
      </p>
      </div>
    </footer> -->
  </div>
</div>


{% else %}
<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="orange">   
    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
            <br>
            <div class="row banner"> 
                <h1 class="text-center">banner</h1>
                <h2 class="text-center">Inicia sesión para acceder a Banner</h2>                  
                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 ">
                    {% if errors %}
                    <p>Su nombre de usuario y contraseña no coinciden. Vuelve a intentarlo.</p>
                    {% endif %}
                    <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                        
                    <!--   if you want to have the card without animation please remove the ".card-hidden" class   -->
                        <div class="card login-card">
                            <div class="content ">
                                <div class="form-group">
                                    <label>DNI</label>
                                    <input type="number" placeholder="Introduce tu DNI" class="form-control" name="username" required autofocus="">
                                    <!--{{login_form.username}}
                                    {{login_form.username.errors}}-->
                                </div>
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input type="password" placeholder="Introduce tu Contraseña" class="form-control" name="password" required >
                                    <!--{{login_form.password}}
                                    {{login_form.password.errors}}-->
         
                                </div>                                    
                                <div class="form-group">
                                    <label class="checkbox">
                                        <span class="icons"><span class="first-icon fa fa-square-o"></span><span class="second-icon fa fa-check-square-o"></span></span><input type="checkbox" data-toggle="checkbox" value="">
                                        Recuérdame
                                    </label>    
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-fill btn-primary btn-wd">Iniciar sesión</button>
                            </div>
                            <br>
                        </div>
                            
                    </form>
                            
                </div>                    
            </div>
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 ">
            <a class="pull-right" href="">Encontrar mi cuenta</a>
            </div>
        </div>
    </div>                        
</div>
{% endif %}
{% endblock%}
{% block modal_form %}
{% endblock%}
{% block scripts %} 
<script>  
$(document).ready(function() {
    var obj = {{aulas|safe}}

    var series = []
    var labels = []
    for( var i in obj){
      series.push(obj[i]["size"])
      labels.push(obj[i]["grado"].toString() +" "+ obj[i]["nivel"].toString()+" "+ obj[i]["seccion"].toString())
    }
    new Chartist.Bar('.ct-chart-aulas-estudiantes', {
      labels: labels,
      series: series
    },{
      distributeSeries: true
    });

    /*var data = {
      series: [5, 3, 5, 8]
    };

    var sum = function(a, b) { return a + b };

    new Chartist.Pie('.ct-chart', data, {
      labelInterpolationFnc: function(value) {
        return Math.round(value / data.series.reduce(sum) * 100) + '%';
      }
    });*/
});
</script>
{% endblock%}



