<form method="post" action="{% url 'profesor_cursos_update' form.instance.pk %}" class="js-profesor-cursos-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Actualizar Curso del Profesor</h4>
  </div>
  <div class="modal-body">
    {% include 'administrador/profesores_cursos/partial_profesor_cursos_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </div>
</form>