{% extends 'profesor/index.html' %}
{% load static from staticfiles %}
{% block titulo %} | Calificaciones{% endblock%}

{% block styles %}
    <style>
      .select2-selection__rendered {
        line-height: 40px !important;
      }
      .select2-selection {
        height: 40px !important;
      }
    </style>
{% endblock %}


{% block contenidoIndex %} 

<div class="row">
  <div class="col-md-12">
  <div class="card">
    <!--<div class="header">
      <h4 class="title">Striped Table with Hover</h4>
      <p class="category">Here is a subtitle for this table</p>
    </div>-->
    <div class="content">
      <div class="toolbar">
      </div>
      <div class="fresh-profesor-table">
        <table   id="profesor-table" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
          <thead>

            <tr>
              <th class="hidden-xs">Nº</th>
              <th>DNI</th>
              <th>Nombre</th>
              <th class="hidden-xs">Apellidos</th>
              <th class="hidden-xs">Grado</th>
              <th class="hidden-xs">Telefono</th>
              <th class="hidden-xs">Correo</th>
              <th class="disabled-sorting text-right">Administrar</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th class="hidden-xs">Nº</th>
              <th>DNI</th>
              <th>Nombre</th>
              <th class="hidden-xs">Apellidos</th>
              <th class="hidden-xs">Grado</th>
              <th class="hidden-xs">Telefono</th>
              <th class="hidden-xs">Correo</th>
              <th class="text-right">Administrar</th>
            </tr>
          </tfoot>
          <tbody>
            {% for estudiante in estudiantes %}
              <tr>
                <td class="hidden-xs">{{forloop.counter }}</td>
                <td>{{estudiante.user.username}}</td>
                <td>{{estudiante.user.first_name}}</td>
                <td class="hidden-xs">{{estudiante.user.last_name}}</td>
                <td class="hidden-xs text-center">{{estudiante.aula.grado}}</td>
                <td class="hidden-xs">{{estudiante.telefono}}</td>
                <td class="hidden-xs">{{estudiante.user.email}}</td>
                <td class="text-right">
                  <div class="row">
                    <div class="col-sx-12 col-md-6">
                      <button type="button"
                              class="btn-all btn btn-primary btn-nuevo btn-fill btn-sm "
                              data-toggle="modal" data-target="#modal-calificacion">
                        <i class="fa fa-plus"></i> Nueva
                      </button>
                    </div>
                    <div class="col-sx-12 col-md-6">
                      <button type="button"
                              class="btn-all btn btn-warning btn-listar btn-fill btn-sm "
                              data-toggle="modal" data-target="#modal-calificacion-listar{{estudiante.id}}" data-url="">
                        <i class="fa fa-list"></i> Listar
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div><!-- end content-->
  </div><!--  end card  -->
  </div> <!-- end col-md-12 -->
  </div> <!-- end row -->



{% endblock%}


{% block modal_form %}

<!-- Modal -->
<div class="modal fade" id="modal-calificacion"  role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nueva Calificacion</h4>
      </div>
      <div class="modal-body">
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>DNI:</label>
                <input type="text"  name="estudiante" class="form-control dni-input hidden">
                <input type="text"  class="form-control dni-input" disabled="">
              </div>
            </div>
            
            <div class="col-md-8">
              <div class="form-group">
                <label>Estudiante:</label>
                <input type="text"  class="form-control estudiante-input" disabled="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Nota:</label>
                <input type="number"  name="nota" class="form-control" required autofocus placeholder="20">
              </div>
            </div>
            
            <div class="col-md-8">
              <div class="form-group">
                
                <label>Curso:</label>
                <input type="text"  name="estudiante" class="form-control" disabled="" value="{{detalle.curso.curso.nombre}}">
                  <!--<select name="curso" class="js-curso-data" required>
                    {% for curso in cursos %}
                      <option value="{{curso.id}}">{{curso.nombre}}</option>
                    {% endfor %}
                  </select>-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Descripción:</label>
                <input type="text"  name="descripcion" class="form-control" required placeholder="Descripción corta de la Calificación">
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% for estudiante in estudiantes %}
  <!-- Modal -->
<div class="modal fade" id="modal-calificacion-listar{{estudiante.id}}"  role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Calificaciones</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Curso</th>
                    <th>Nota</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                  </tr>
                </thead>
                <tbody>
                  {% for nota in estudiante.notas %}
                    <tr class="{{nota.color}}">
                      <td>{{forloop.counter}}</td>
                      <td>{{nota.curso.nombre}}</td>
                      <td>{{nota.nota}}</td>
                      <td>{{nota.created|date:"d/m/Y"}}</td>
                      <td>{{nota.descripcion}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <!--<button type="submit" class="btn btn-primary">Guardar</button>-->
          </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock%}



{% block scripts %}

<script src="{% static 'js/select2.full.min.js' %}"></script>
<script src="{% static 'js/apps/profesor/profesor.js' %}"></script>
  <script>

    $('document').ready(function() {
      $('.btn-nuevo').on('click', function() {
        var $tr = $(this).parent().parent().parent().parent();
        var $tds = $tr.find('td')
        $('.dni-input').val($tds[1].textContent)
        $('.estudiante-input').val($tds[2].textContent + " " + $tds[3].textContent)
        
      });

      var data = [{ id: 0, text: 'Matematica' }, { id: 1, text: 'Ingles' }, { id: 2, text: 'duplicate' }, { id: 3, text: 'invalid' }, { id: 4, text: 'wontfix' }];

      $(".js-curso-data").select2();

      var alumnos = {{ alumnos_json|safe }}; 
      console.log(alumnos)



      $('.btn-listar').on('click', function(){
        var $tr = $(this).parent().parent();
        var $tds = $tr.find('td')
        var index  = $tds[0].textContent

        console.log(alumnos[index-1])
        var notas = alumnos[index-1].notas
        //$("#modal-calificacion-listar .modal-content").html(data.html_form);
      });

    });
  </script>
        

{% endblock%}
