<form method="post" action="{% url 'apoderado_delete' apoderado.id %}" class="js-apoderado-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Confirmar Eliminar Apoderado</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Esta seguro de eliminar a <strong> {{apoderado.user.first_name}} {{apoderado.user.last_name}}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-danger">Eliminar Apoderado</button>
  </div>
</form>