{% load widget_tweaks %}

<div class="row">
{% for field in formUsuario %}
<div class="col-sm-6">
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class="form-control" %}
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
 </div>
{% endfor %}
</div>
<div class="row">
{% for field in formApoderado %}
<div class="col-sm-6">
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% render_field field class="form-control" %}
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
</div>
{% endfor %}
</div>