{% extends 'administrador/index.html' %}
{% load static from staticfiles %}
{% block titulo %} | Profesors{% endblock%}

{% block contenidoIndex %} 
<div class="row">
  <div class="col-md-12">
  <div class="card">
    <ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li class="active">Profesores</li>
    </ol>
  </div>
  <div class="card">
    <div class="content">
      <div class="toolbar">
        <!--        Here you can write extra buttons/actions for the toolbar              -->
        <button class="btn btn-primary btn-fill btn-wd js-create-profesor" data-url="{% url 'profesor_create' %}" ><span class="glyphicon glyphicon-plus"></span> Nuevo</button>

      </div>
      <br>
      <div class="fresh-profesor-table">
        <table   id="profesor-table" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
          <thead>

            <tr>
              <th class="hidden-xs">Nº</th>
              <th>usuario</th>
              <th>Nombre</th>
              <th class="hidden-xs">Apellidos</th>
              <th class="hidden-xs">Profesion</th>
              <th class="hidden-xs">Telefono</th>
              <th class="hidden-xs">Correo</th>
              <th class="disabled-sorting text-right">Administrar</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th class="hidden-xs">Nº</th>
              <th>usuario</th>
              <th>Nombre</th>
              <th class="hidden-xs">Apellidos</th>
              <th class="hidden-xs">Profesion</th>
              <th class="hidden-xs">Telefono</th>
              <th class="hidden-xs">Correo</th>
              <th class="text-right">Administrar</th>
            </tr>
          </tfoot>
          <tbody>
            {% for profesor in profesores %}
              <tr>
                <td class="hidden-xs">{{forloop.counter }}</td>
                <td>{{profesor.user.username}}</td>
                <td>{{profesor.user.first_name}}</td>
                <td class="hidden-xs">{{profesor.user.last_name}}</td>
                <td class="hidden-xs">{{profesor.profesion}}</td>
                <td class="hidden-xs">{{profesor.telefono}}</td>
                <td class="hidden-xs">{{profesor.user.email}}</td>
                <td class="text-right">
                  <div class="hidden-xs">
                    <a href="{% url 'profesor_cursos' profesor.id %}" class="btn btn-primary btn-fill btn-sm active" role="button" aria-pressed="true"><i class="fa fa-book"></i>Cursos</a>
                    <button type="button"
                            class="btn btn-warning btn-fill btn-sm js-update-profesor"
                            data-url="{% url 'profesor_update' profesor.id %}">
                      <i class="fa fa-edit"></i> Editar
                    </button>
                    <button type="button"
                            class="btn btn-danger btn-fill btn-sm js-delete-profesor"
                            data-url="{% url 'profesor_delete' profesor.id %}">
                      <i class="fa fa-times"></i>  Eliminar
                    </button>
                  </div>
                  <div class="row visible-xs">
                    <div class="col-sx-12 col-md-6">
                      <a href="{% url 'profesor_cursos' profesor.id %}" class="btn btn-all btn-primary btn-fill btn-sm active" role="button" aria-pressed="true"><i class="fa fa-book"></i>Cursos</a>
                    </div>
                    <div class="col-sx-12 col-md-6">
                      <button type="button"
                          class="btn-all btn btn-warning btn-fill btn-sm js-update-profesor"
                          data-url="{% url 'profesor_update' profesor.id %}">
                        <i class="fa fa-edit"></i> Editar
                      </button>
                
                    </div>
                    <div class="col-sx-12 col-md-6">
                      <button type="button"
                          class="btn-all btn btn-danger btn-fill btn-sm js-delete-profesor"
                          data-url="{% url 'profesor_delete' profesor.id %}">
                    <i class="fa fa-times"></i>  Eliminar
                  </button>
                    </div>
                  </div>
                </td>
                
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div><!-- end content-->
  </div><!--  end card  -->
  </div> <!-- end col-md-12 -->
  </div> <!-- end row -->

{% endblock%}


{% block modal_form %}
<!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-profesor">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock%}


{% block scripts %}
  <script src="{% static 'js/apps/administrador/profesores.js' %}"></script>
{% endblock%}
