{% extends 'administrador/index.html' %}
{% load static from staticfiles %}
{% block titulo %} | Cursos{% endblock%}

{% block contenidoIndex %} 
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <ol class="breadcrumb">
        <li><a href="/">Inicio</a></li>
        <li class="active">Cursos</li>
      </ol>
    </div>
    <div class="card">
      <div class="content">
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
          <button class="btn btn-primary btn-fill btn-wd js-create-curso" data-url="{% url 'curso_create' %}" ><span class="glyphicon glyphicon-plus"></span> Nuevo</button>

        </div>
        <br>
        <div class="fresh-curso-table">
          <table   id="curso-table" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
            <thead>
              <tr>
                <th class="hidden-xs">Nº</th>
                <th>nombre</th>
                <th class="hidden-xs">descripción</th>
                <th class="disabled-sorting text-right">Administrar</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th class="hidden-xs">Nº</th>
                <th>nombre</th>
                <th class="hidden-xs">descripción</th>             
                <th class="text-right">Administrar</th>
              </tr>
            </tfoot>
            <tbody>
              {% for curso in cursos %}
                <tr>
                  <td class="hidden-xs">{{forloop.counter }}</td>
                  <td><span class="label-banner label label-info">{{curso.nombre}}</span></td>
                  <td class="hidden-xs">{{curso.descripcion}}</td>
                  <td class="text-right">
                    <div class="hidden-xs">
                      <button type="button"
                              class="btn btn-warning btn-fill btn-sm js-update-curso"
                              data-url="{% url 'curso_update' curso.id %}">
                        <i class="fa fa-edit"></i> Editar
                      </button>
                      <button type="button"
                              class="btn btn-danger btn-fill btn-sm js-delete-curso"
                              data-url="{% url 'curso_delete' curso.id %}">
                        <i class="fa fa-times"></i>  Eliminar
                      </button>
                    </div>
                    <div class="row visible-xs">
                      <div class="col-sx-12 col-md-6">
                        <button type="button"
                                class="btn-all btn btn-warning btn-fill btn-sm js-update-curso"
                                data-url="{% url 'curso_update' curso.id %}">
                          <i class="fa fa-edit"></i> Editar
                        </button>
                      </div>
                      <div class="col-sx-12 col-md-6">
                        <button type="button"
                                class="btn-all btn btn-danger btn-fill btn-sm js-delete-curso"
                                data-url="{% url 'curso_delete' curso.id %}">
                          <i class="fa fa-times"></i>  Eliminar
                        </button>
                        </div>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div><!-- end content-->
    </div><!--  end card  -->
  </div> <!-- end col-md-12 -->
</div> <!-- end row -->
{% endblock%}


{% block modal_form %}
<!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-curso">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>
{% endblock%}


{% block scripts %}
  <script src="{% static 'js/apps/administrador/cursos.js' %}"></script>
{% endblock%}
